<h1><%= @movie.title %></h1>
<h3><%= @movie.creation_year %></h3>
<h3><%= @movie.genre %></h3>
<h3>Actors: </h3>
<% @movie.actors_by_age.each do |actor| %>
  <%= actor.name %>
<% end %><br>
<h3>Average Age of Actors: <%= @movie.actors_average_age %></h3>
